extends layouts/handler-layout.pug

block content 
    .createCouncilButtonContainer
    .councilsListContainer        
       

    +createCouncilCreateModal()

block scripts
    
    script(src="/js/councilManagement.js")