extends layouts/main-layout.pug
    
block content   
    
    .directoryContainer

        .indexContainer         
            
        .usersContainer 
           
        
    
   

block scripts
    script(src="/js/directory.js")
    