<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Request Password Reset
        link(rel="stylesheet", href="/css/login.css")
    body
        .wrapper
            .loginContainer
                div Please enter the email you used to register your account
                br
                form(method="post")
                    input(type="email", name="resetEmail", placeholder="Email", required="") 
                    input(type="submit", value="Send")
                p
                    a(href="/") Go back
                p #{statusMessage}
 
        script.
            if (window.history.replaceState)
                window.history.replaceState(null, null, window.location.href)